<div class="dashboard-logo">
  <a href="#/">
    ALIST<span class="glyphicon glyphicon-fire"></span>PRESS
  </a>
</div>

<div class="user-panel">  
  <div class="pull-left user-image">
    <a href="/users/edit">
      <img src="<%= Alistpress.current_user_img %>" class="img-circle" alt="User Image">
    </a>
  </div>
  <div class="user-info">
    <p>Aloha!</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>

<div class="user-panel-nav" style="padding:0;">
  <ul class="sidebar-nav">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="#/atemplates"><i class="fa fa-th"></i> My Templates</a></li>
    <li><a href="#/themes"><i class="fa fa-folder"></i> Saved Emails</a></li>
    <li><a href="#/themes/sent"><i class="fa fa-archive"></i> Sent Emails</a></li>
    
    <li style="margin-top: 30px;"><a href="http://alvinang.github.io/" target="_blank">Alvin's Portfolio</a>
    </li>
    <li><a href="http://www.startup-discovery.com/" target="_blank">Fun Project #2</a></li>
    <li><a href="https://www.linkedin.com/in/alvinangbs" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/alvinang" target="_blank">GitHub</a></li>    
    <li><a href="http://www.startup-discovery.com/" target="_blank">Contact Me</a></li>
    <li><a data-method="delete" href="/logout" rel="nofollow">Log out</a></li>
  </ul>
</div>