<!-- Sidebar user panel -->
<div class="user-panel">
  <div class="pull-left user-image">
    <img src="http://gravatar.com/avatar/658f2039885a85cc03cc31e20919bed6?s=512" class="img-circle" alt="User Image">
  </div>
  <div class="user-info">
    <p>Hello, Dude</p>

    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>

<div class="user-panel-nav" style="padding:0;">
  <ul class="sidebar-nav">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="#"><i class="fa fa-th"></i> My Templates</a></li>
    <li><a href="#"><i class="fa fa-folder"></i> Saved Emails</a></li>
    <li><a href="#"><i class="fa fa-archive"></i> Sent Emails</a></li>
    
    <li style="padding-top: 30px;"><a href="#"><strong>Premium</strong></a></li>
    <li><a href="#">Store</a></li>
    <li><a href="#">Social</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</div>