<aside class="sidebar col-lg-2">
</aside>

<main id='content' class="dashboard col-lg-10">
</main>

<script type="text/javascript">
$(document).ready(function(){
  Alistpress.atemplates = new Alistpress.Collections.Atemplates();
  Alistpress.current_user = {
    id: <%= current_user.id %>,
    email: "<%= current_user.email %>",
    img: "<%= avatar_url(current_user).html_safe %>"
  };
  
  Alistpress.atemplates.fetch({
    success: function() {
      Alistpress.themes = new Alistpress.Collections.Themes();
      Alistpress.todos = new Alistpress.Collections.Todos();
      Alistpress.themes.fetch({
        success: function() {
          Alistpress.todos.fetch({
            success: function() {
              Alistpress.initialize();                                  
            }
          })
        }
      });
    }
  });
  
  $('.navbar-header').addClass('m-left');  
  $('nav.navbar').addClass('dashboard-nav');
});
</script>