<aside class="sidebar col-lg-2">
</aside>

<main id='content' class="dashboard col-lg-10">
</main>

<script type="text/javascript">
$(document).ready(function(){
  Alistpress.atemplates = new Alistpress.Collections.Atemplates();
  // Alistpress.current_user = {
  //   id: ,
  //   email: ,
  //   img: 
  // }
  Alistpress.current_user_id = <%= current_user.id %>;
  Alistpress.current_user_email = "<%= current_user.email %>";
  Alistpress.current_user_img = "<%= avatar_url(current_user).html_safe %>";
  
  Alistpress.atemplates.fetch({
    success: function() {
      Alistpress.themes = new Alistpress.Collections.Themes();
      Alistpress.themes.fetch({
        success: function() {
          Alistpress.initialize();                    
        }
      });
    }
  });
  
  $('.navbar-header').addClass('m-left');  
  $('nav.navbar').addClass('dashboard-nav');
});
</script>