<div class="landing text-center">
  <div class="landing-wrapper">
    <h1 class="landing-title">
      <i>THE</i> EMAIL TEMPLATE TOOL
    </h1>
    <h2 class="landing-description lead">
      NO MORE <strong>repeated emails</strong>. Life will never be the same again.
      <div class="opt-in">
        <%= link_to 'Get Started Now', new_user_registration_url, class: 'btn btn-danger btn-lg', 'data-toggle' => 'modal', 'data-target' => '#signUp'  %>
        <br>
        <a href="/guest" class="demo">
          <span class="glyphicon glyphicon-play"></span> Or try the demo
        </a>
      </div>
    </h2>
  </div>
</div>

<div class="container landing-content">
  <div class="row text-center">
    <div class="col-lg-4 col-md-4">
      <div class="square img-circle">
        <span class="glyphicon glyphicon-send"></span>        
      </div>
      <h3>Highly Converted Emails</h3>
      <p>Start writing using templates that successful entrepreneurs use on a daily basis.</p>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="square img-circle">      
        <span class="glyphicon glyphicon-pencil"></span>			
      </div>  
      <h3>Prevents Writers Block</h3>
      <p>Staring blankly at the screen for hours is frustrating. Get the ball rolling with email templates.</p>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="square img-circle">
        <span class="glyphicon glyphicon-time"></span>			        
      </div>
      <h3>Time Saver</h3>
      <p>Never write important emails from scratch again. Use that time for for something more important.</p>
    </div>
  </div>
</div> 