<div class="landing text-center">
  <div class="landing-wrapper">
    <h1 class="landing-title">
      <i>THE</i> EMAIL TEMPLATING TOOL
    </h1>
    <h2 class="landing-description lead">
      NO MORE <strong>repeated emails</strong>. Live will never be the same again.
      <div class="opt-in">
        <a href="/plans" class="btn btn-danger btn-lg">Get Started Now</a><br>
        <a href="/demo" class="demo">
          <span class="glyphicon glyphicon-play"></span> Or try the demo
        </a>
      </div>

    </h2>
  </div>
</div>