<h1>About Alistpress</h1>

<p>Alistpress is designed to help people write better emails & potentially outsource repetitive email task. Why would you want to write the same email more than once? That is what templates are designed for.</p>

<p>Is this the same as Yesware? Yes & No. Alistpress does not integrate with gmail at this point - it allows you to create and send templates directly through out platform.</p>

<p>What is the benefit? We obtain highly curated email templates & specify specific set of words that you need to change within the email body. By using a simple 'tab' key, you can easily switch & change the words to your specification with ease.</p>

<p>Seeing is believing, try it for yourself :)</p>