<div class="col-lg-12" style="padding: 30px 45px 0 30px">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Subject: <%= theme.escape('title') %></h3>
    </div>
    <div class="box-body pad">
      <%= theme.get('content') %>      
    </div>
    <div class="box-footer">
      <strong>Sent on: <%= theme.escape('updated_at') %></strong>      
    </div>
  </div>
</div>