<form class="form-horizontal create-atemplate">
  <input type="hidden" name="atemplate[user_id]">
  <div class="form-group">
    <label for="title" class="control-label col-xs-2">Title</label>
    <div class="col-xs-8">
      <input type="text" name="atemplate[title]" class="form-control" placeholder="Title" id="title">
    </div>
  </div>

  <div class="form-group">
    <label for="content" class="col-xs-2 control-label">Template</label>
    <div class="col-xs-8">
      <textarea name="atemplate[content]" class="form-control" id="content" rows="25" placeholder="Template"></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <label for="description" class="control-label col-xs-2">Description</label>
    <div class="col-xs-8">
      <input type="text" name="atemplate[description]" class="form-control" placeholder="Template Description" id="description">
    </div>
  </div>
  
  <div class="form-group">
    <label for="category" class="control-label col-xs-2">Category</label>
    <div class="col-xs-8">
      <input type="text" name="atemplate[category]" class="form-control" placeholder="Category" id="category">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button type="submit" class="btn btn-default">New Template</button>
    </div>
  </div>
</form>

<a href="#/">Back</a>