<div class="col-lg-12" style="padding: 30px 45px 0 30px">
  <div class="box box-primary">
    
    <div class="box-header">
      <i class="fa fa-envelope"></i>
      <h3 class="box-title col-lg-offset-2" style="margin-bottom: 15px;">
        New Email Template
      </h3>
    </div>
    
    <div class="box-body pad">
      <form class="form-horizontal create-atemplate">
        <input type="hidden" name="atemplate[user_id]">
        
        <div class="form-group">
          <label for="wysihtml5-title" class="control-label col-lg-2">Subject</label>
          <div class="col-lg-9">
            <input type="text" name="atemplate[title]" class="form-control" placeholder="Subject" id="wysihtml5-title">
          </div>
        </div>

        <div class="form-group">
          <label for="wysihtml5" class="col-lg-2 control-label">Template</label>
          <div class="col-lg-9">
            <textarea name="atemplate[content]" class="form-control" id="wysihtml5" rows="25" placeholder="Template"></textarea>
          </div>
        </div>
  
        <div class="form-group">
          <label for="description" class="control-label col-lg-2">Description</label>
          <div class="col-lg-9">
            <input type="text" name="atemplate[description]" class="form-control" placeholder="Template Description" id="description">
          </div>
        </div>
  
        <div class="form-group">
          <label for="category" class="control-label col-lg-2">Category</label>
          <div class="col-lg-9">
            <input type="text" name="atemplate[category]" class="form-control" placeholder="Category" id="category">
          </div>
        </div>
        
        <div class="box-footer">
            <button type="submit" class="btn btn-primary col-lg-offset-2">Create Template</button>
        </div>
        
      </form>
    </div>
  </div>
</div>

<a href="#/">Back</a> 