<form class="jumbotron col-xs-10 col-xs-offset-1">
  
  <p class='lead' style="font-size:16px;font-weight:200;line-height:1.4;">
    <label for="r_email">To:</label> 
    <input name="theme[recipient_email]" type="email" placeholder="Recipient Email" id="r_email" value="" autofocus>
  </p>
  
  <p style="font-size:16px;font-weight:200;line-height:1.4;">
    <label for="t_email">From:</label>
    <input name="theme[sender_email]" type="email" placeholder="Recipient Email" value="<%= Alistpress.current_user_email %>" id="t_email">
  </p>
  
  <p class="theme-title">
    <input type="text" value="<%= atemplate.escape('title') %>" name="theme[title]">    
  </p>

  <p class="theme-content">
    <textarea id="wysihtml5" class="col-xs-12" name="theme[content]">
      <%= atemplate.escape('content') %>
    </textarea>
  </p>
  
  <p>
    <button class="save-theme btn btn-primary pull-right" style="border-radius:0;" type="submit">Save</button>
  </p>  
<!-- </div> -->
</form>

<button class="send-theme btn btn-success pull-right" style="border-radius:0;" type="submit" data-loading-text="Sending...">Send</button>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

  // var selectNextBlock = function(text) {
  //   var foundSomething = text.match(/\{{(.*?)\}}/); // returns array of 2 stuff
  //   if (foundSomething) {
  //     foundSomething.select();
  //     alert(foundSomething.select());
  //   } else {
  //     alert("yo, you're done!");
  //   };
  // },
  
  new function($) {
    $.fn.setCursorPosition = function(pos) {
      if (this.setSelectionRange) {
        this.setSelectionRange(pos, pos);
      } else if (this.createTextRange) {
        var range = this.createTextRange();
        range.collapse(true);
        if(pos < 0) {
          pos = $(this).val().length + pos;
        }
        range.moveEnd('character', pos);
        range.moveStart('character', pos);
        range.select();
      }
    }
  }(jQuery);
  
  
  // Steps:


  // 3. match to regex 
  // 4. focus & select
  // $($(this).children()[2]).html().match(/\{{(.*?)\}}/g)

  
  $('#wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5({
    	"font-styles": true,
    	"emphasis": true,
    	"lists": true, 
    	"html": true, 
    	"link": true,
    	"image": true,
    	"color": false
      // "events": {
      //   "focus": function() {
      //     $('.wysihtml5-sandbox').contents().find('body').on("keydown",function(event) {          
      //       event.preventDefault(); 
      //       var numLoops = _.size($(this).children());            
      //       var keyCode = event.keyCode || event.which;
      //           
      //       if (keyCode == 9){
      //         // loop thru all children divs
      //         for (var i = 0; i < numLoops; i++) {
      //           // get array of all matched items {{}}
      //           debugger
      //           var sentence = $($(this).children()[i]).html();
      //           var toSwap = sentence.match(/\{{(.*?)\}}/g);
      //           var numSwap = _.size(toSwap);
      //           debugger
      //           
      //           // if there is a match
      //           if (toSwap) {
      //             // select all the matches one by one by selecting them
      //           }
      //           
      //           //loop through all matched items
      //           for (var j = 0; j < numSwap; j++){
      //             var startIndex = sentence.indexOf(toSwap);
      //             $($(this).children()[0]).setCursorPosition(startIndex);                  
      //           }                
      //         }                         
      //       }      
      //    });                               
      //   }
      // } 
    }); 
  });
  
  $('.send-theme').click(function () {
     var btn = $(this)
     btn.button('loading')
   });

});
</script>