@import 'utils';

.dashboard {
  padding-left: 30px;
}

.m-left {
  margin-left: -75px !important;
}

.sidebar {
  background-color: #333;
  border-bottom: 1px solid #333;
  padding-right: 0;
  padding-left: 0;
  z-index: -1000;
  left: 0;
  min-height: 1400px;
  
  div {
    padding: 10px;
  }
  
  .user-panel {
    width: 100%;
    
    .user-image > img {
      width: 45px;
      height: 45px;
    }
  
    .user-info {
      color: #eee;
      font-weight: 600;   
    }
  }
  
  .sidebar-nav { 
    padding-left: 0;
    list-style: none;
    
    li {
      text-indent: 5%;
      line-height: 40px;
      
      a {
        color: #f6f6f6;
        display: block;
        text-decoration: none;
        font-weight: 500;
        
        i {
          padding-right: 10px;
        }
      }
      
      &:hover {
        color: #fff;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
      }
      
      &:active, &:focus {
        text-decoration: none;
      } 
    }
  }  
}

.bg-aqua { background-color: #00c0ef !important; }
.bg-red { background-color: #f56954 !important; }
.bg-yellow { background-color: #f39c12 !important; }
.bg-green { background-color: #00a65a !important; }

.small-box {
  @include border-radius(2px);
  position: relative;
  display: block;
  margin-bottom: 15px;
  
  &:hover {
    text-decoration: none;
    color: #f9f9f9;
    
    .icon {
      @include animation(tansformAnimation, .5s, 1, ease, forwards)
    }
  }
  
  .inner { padding: 10px; }
  
  h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    z-index: 5px;
  }
  
  p { 
    font-size: 15px; 
    z-index: 5px;
  }
  
  .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    
    &:hover {
      color: #fff;
      background: rgba(0, 0, 0, 0.15);      
    }
  }  
  
  .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
  }
}

@keyframes tansformAnimation {
  from { font-size: 90px; }
  to { font-size: 100px; }
}

@-webkit-keyframes tansformAnimation {
  from { font-size: 90px; }
  to { font-size: 100px; }
}

@media screen and (max-width: 480px) {
  .small-box { text-align: center; }
  .small-box .icon { display: none; }
  .small-box p { font-size: 12px; }
}