.landing {
  height: 500px;
  width: 150%;
  background: url('https://jetstrap-site.s3.amazonaws.com/images/website/index/main_bg_image.jpg') repeat-x transparent 50% 50%;
  margin-left: -100px;
  .landing-wrapper {
    padding: 150px 0px 20px 0px
  }  
}

.proxima-bold {
  font-family: 'ProximaNova-Bold';
}