.theme-title {
  iframe {
    width: 80% !important;
  }
}

.theme-content {
  textarea {
    height: 600px !important;
    display: block !important;
  }
  iframe {
    display: none !important;
  }
}